# Data Science Tools and Ecosystem

**Objectives**:
- List those popular languages among Data Scientists.
- List the well-used languages in Data Science.
- Demonstration of some (arithmetic) operations in Python on Jupyter Notebook.
- Demonstration of some method, like making a table inside a cell on Jupyter Notebook.

In this note, we summarize tools and ecosystem for Data Science.

Some of the popular languages for Data Scientists are:
1. Python
1. R
1. Java

Some of the commonly used libraries for Data Scientists include:
- NumPy
- Pandas
- Matplotlib
- Seaborn
- Plotly

|Data Science Tools|
|---|
|Jupyter Lab|
|Visual Studio Code|
|Eclipse|
|Watson Studio|
|Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python:

This is a simple example of arithmetic expression to multiply then add integers:\
(3*4)+5

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60:

In [1]:
min = 200
hour = min//60

print(hour)

3

## Author
Takuya Igami